body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
}

.slider-container {
  width: 80%;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  align-items: center;
  transition: transform 0.5s ease;
}

.slider img {
  width: 300px;
  margin: 0 20px;
  transition: all 0.5s ease;
  opacity: 0.4;
  transform: scale(0.8);

  border: 5px solid #BF69A9;   
  border-radius: 10px;         
}

.slider img.active {
  opacity: 1;
  transform: scale(1.2);
   border: 5px solid #BF69A9;   
  border-radius: 10px;  
}

.slider img {
  cursor: pointer;
}

.slider img:active {
  transform: scale(2.3);
  border: 5px solid #BF69A9;
  border-radius: 20px;  
}
